<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
    <div th:fragment="header">
        <div class="language">
            <a href="?lang=en" th:text="#{switch.lang.en}"></a>
            <a href="?lang=ru" th:text="#{switch.lang.ru}"></a>
            <a href="?lang=ua" th:text="#{switch.lang.ua}"></a>
        </div>

        <div class="logo">
            <h2>Time Is Money</h2>
        </div>

        <div class="navigation">
            <nav>
                <a th:href="@{/}" th:text="#{nav.main}"></a>
                <a th:href="@{/user}" th:text="#{nav.user}"></a>
                <a th:href="@{/admin}" th:text="#{nav.admin}"></a>
            </nav>
        </div>

        <div class="account">
            <div sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}" th:text="#{nav.logout}"></a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" th:text="#{nav.login}"></a>
                <a th:href="@{/signup}" th:text="#{nav.signup}"></a>
            </div>
        </div>
    </div>
</body>
</html>